.posts-expand .post-tags {
  margin-top: 40px;
  text-align: left;

  a {
    display: inline-block;
    margin-right: 10px;
    font-size: 12px;
    border-bottom: none;
    background: $my-theme-color-light;
    color: #fff;
    padding: 0 7px;
    border-radius: 4px;
    &:hover {
      opacity: 0.8;
    }
  }
}
