.post-copyright {
  margin: $post-copyright.margin;
  padding: $post-copyright.padding;
  border-left: $post-copyright.border.width $post-copyright.border.style $orange;
  background-color: $post-copyright.bg;
  list-style: none;
  font-size: 12px;
  color: #999;
}
